---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
const title = 'TanSaysHello - Stupid Ideas';
const description = 'I honestly think these are billion dollar ideas.';
---

<style>
	.view-panel {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 20px;
	}
</style>

<html lang='en'>
	<head>
		<BaseHead
			title={title}
			description={description}
		/>
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1 style='margin-top: 50px;'>Ideas ðŸ’°</h1>
			<p>
				I had a bunch of ideas popping up in my head over the years of dreary
				entrepreneurship. Bunch of more ideas, too, when I was a kid. I want to
				use this page of the website to document the lifecycle of my different
				ideas. Let's call this the Butterflyâ„¢ ðŸ¦‹ Framework (I'm a framework
				junkie.)
			</p>
			<div class='view-panel'>
				<Button title='ðŸ›' />
				<Button>
					<img src='/cocoon.png' />
				</Button>
				<Button title='ðŸ¦‹' />
			</div>
			<div class='panel'>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</main>
		<Footer />
	</body>
</html>
