---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const title = 'TanSaysHello - Stupid Ideas';
const description = 'I honestly think these are billion dollar ideas.';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={title}
			description={description}
		/>
	</head>
	<body>
		<Header title={title} />
		<main>
			<h1 style='margin-top: 50px;'>Ideas 💰</h1>
		</main>
		<Footer />
	</body>
</html>
