---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import LineGenerator from '../components/LineGenerator.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<!-- <ViewTransitions /> -->
		<LineGenerator />
		<main>
			<h1>🧑‍🚀 Hi!</h1>
			<p>Welcome to my personal website.</p>
			<p>
				Here I'll try to document my journey as an entrepreneur, a thinker and a
				teacher. I have tried many times to maintain a personal website but to
				no avail. I tried Squarespace and Substack but I ditched both after a
				few days.
			</p>
			<p>Shame.</p>
			<p>Well!</p>
			<p>
				Here goes nothing as I ostentatiously code a whole website from scratch.
				Site builders and managed CMS are for losers (jk I suck).
			</p>
			<p>
				I will be berating myself in the entirety of this coded up mess. But as
				I do that, I hope you find something you can take in your life and use.
			</p>
		</main>
		<Footer />
	</body>
</html>
