---
import { ViewTransitions } from 'astro:transitions';
import Layout from '../layouts/BlogPost.astro';
---

<!-- <ViewTransitions /> -->
<Layout
	title='About Me'
	description='My Journey'
	pubDate={new Date('October 09 2023')}
	heroImage='/me.jpg'
>
	<p>
		I want to replace smartphones with even more invasive, data sucking and
		controlling, yet impactful, groundbreaking and better brain chips and
		wearables for humans. But I need to be in the Valley first. Attention US
		VCs.
	</p>
	<p>
		I have a healthy passion to be an ambitious, visionary leader of the world
		by creating the next big thing in tech. Like every thick-skulled, big balls
		wantrepreneur out there.
	</p>
	<p>Musk ain't sh*t.</p>
	<p>If you think this website is all satire, you are a hater.</p>
	<p>Do you know what the next best thing is to creating money?</p>
	<p>It's creating money.</p>
	<p>
		Every time I see a poor kid, I tell him, opportunities are all around us. We
		just need to seize them as they come. This one kid took it to heart once and
		took the donut I was eating from my hand. Champ.
	</p>
	<p>Do your best to succeed in life.</p>
	<p>It's simple.</p>
	<p>Just Qreate things.</p>
	<p>When the chips are down, just get more chips.</p>
	<p>Manifest.</p>
	<p>
		Those who are crazy to believe they can change the world, they change the
		world. Simple.
	</p>
	<p>It's so easy, I honestly don't know why we have depression.</p>
	<p>TLDR - Just Do It</p>
</Layout>
