---
import { ViewTransitions } from 'astro:transitions';
import Layout from '../layouts/BlogPost.astro';
---

<!-- <ViewTransitions /> -->
<Layout
	title='About Me'
	description='My Journey on Mastering language, habit and focus.'
	pubDate={new Date('October 09 2023')}
	heroImage='/me.jpg'
>
	<p>
		On a fateful evening, it has dawned on me that to live a great life of 
		purpose, I need to master 3 these principles FIRST: 1) <strong>Language</strong>
		2) <strong>Habit</strong> and 3) <strong>Focus</strong>
	</p>
	<h3>Language</h3>
		<p>Clarity in thought and logic</p>
		<p>Superior articulation</p>
		<p>Wide range in expression</p>
		<p>Math, code, art and dance beyond linguistics</p>
		<p>Deep monologues - spirituality</p>
	<h3>Habit</h3>
		<p>Health (physical and mental strength)</p>
		<p>Reading (foundational topics like philosophy, logic, game theory, psychology, maths)</p>
		<p>Social connection (cultivating relationships)</p>
		<p>Expression (blogging, fashion)</p>
	<h3>Focus</h3>
		<p>Mastering time</p>
		<p>Eliminating distractions</p>
	</p>
</Layout>
