---

---

<style>
	.hamburger {
		margin: 20px 0;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hamburger .line {
		display: block;
		width: 40px;
		height: 2px;
		margin-bottom: 5px;
		background-color: var(--primary);
	}
	@media (min-width: 720px) {
		.hamburger {
			display: none;
		}
	}
</style>

<div class='hamburger'>
	<span class='line'></span>
	<span class='line'></span>
</div>

<script>
	document.querySelector('.hamburger')?.addEventListener('click', () => {
		const navLinks = document.querySelectorAll('.nav-link');

		// Toggle the 'expanded' class on each element
		navLinks.forEach((link) => {
			link.classList.toggle('expanded');
		});
	});
</script>
