---
import Hamburger from '../components/Hamburger.astro';
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
// import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<HeaderLink href='/principles'>Principles</HeaderLink>
		<HeaderLink href='/initiatives'>Initiatives</HeaderLink>
		<HeaderLink href='/code'>Ideas</HeaderLink>
		<HeaderLink href='/blog'>Blog</HeaderLink>
	</nav>
	<Hamburger />
</header>
<ThemeIcon />
<style>
	header {
		position: fixed;
		margin: 0;
		padding: 0 1em;
		background: var(--black);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		width: 500px;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);
		border-radius: 50px;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--primary);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a:not(:last-child) {
		margin-right: 20px;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	.expanded {
		display: unset;
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		nav a {
			display: none;
		}
		nav {
			flex-direction: column;
		}
		nav a.expanded {
			display: block;
			margin-right: 0;
		}
	}
</style>
<script></script>
